.Rproj.user
.Rhistory
.RData
# exclude everything except stationaryracsinference and racsScratch
/*
!/stationaryracsinference
!/racsScratch/

#except also exclude data and manuals in racsScratch
/racsScratch/data
/racsScratch/manuals

#racsScratch/data/*
#racsScratch/manuals/*
#!stationaryracsinference/**
